@{
    ViewData["Title"] = "Product Details";
}

@model ProductDetailsViewModel;

<div class="text-left"
     asp-controller="Product"
              asp-action="Details"
              method="get">

    <div>
        <div>
            <h5 class="sessao">Product Details</h5>
            <br />
            <div>
                <h6>Product</h6>
                <p>Name: @Model.Name</p>
                <p class="preco">Price: @Model.Price</p>
                <p>Code: @Model.Id</p>
                <br />
            </div>
           
            <div>
                <h6>Description:</h6>
                <p>@Model.Description</p>
                <br />

                <h6>Category</h6>
                <p>nº: @Model.CategoryId</p>
                <br/>
            </div>

            <div class="form-group">
                <a class="btn btn-info"
                   asp-action="Index">
                    Back
                </a>

                <a class="btn btn-warning"
                   asp-action="Index"
                   asp-route-id="@Model.Id">
                    Update
                </a>

                <a class="btn btn-danger"
                   asp-action="Delete"
                   asp-route-id="@Model.Id">
                    Delete
                </a>

            </div>

        </div>
    </div>
</div>